{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-5">

    <!-- 제목 -->
    <h2 class="mb-4">마이페이지</h2>

    <!-- 회원정보 카드 -->
    <div class="card shadow">

        <div class="card-header bg-dark text-white">
            회원 정보
        </div>
        

        <div class="card-body">
            <!-- 프로필 이미지 -->
         {% if user.profile_image %}
         <img src="/static/uploads/{{ user.profile_image }}"
            class="profile-img mb-3">
         {% else %}
         <img src="/static/img/default.png"
            class="profile-img mb-3">
         {% endif %}

            <table class="table table-bordered">

                <tr>
                    <th style="width:150px;">아이디</th>
                    <td>{{ user.uid }}</td>
                </tr>

                <tr>
                    <th>이름</th>
                    <td>{{ user.name }}</td>
                </tr>

                <tr>
                    <th>권한</th>
                    <td>{{ user.role }}</td>
                </tr>

                <tr>
                    <th>가입일</th>
                    <td>{{ user.created_at }}</td>
                </tr>

            </table>

            <div class="mypage-menu">
       
               <a href="/member/delete"
                  class="btn my-btn my-btn-red"
                  onclick="return confirm('정말 탈퇴하시겠습니까?');">
                   회원 탈퇴
               </a>
           
               <a href="/my_lectures" class="btn btn-dark"
                  class="btn my-btn my-btn-green">
                   수강 목록
               </a>

               <a href="/edit_profile"
                  class="btn my-btn my-btn-yellow">
                   정보 수정
               </a>
           
           </div>

        </div>

    </div>

</div>

{% endblock %}