{# ==========================================
    layout.html 상속
    공통 헤더 / CSS 사용
    ========================================== #}
 {% extends "layout.html" %}
 
 
 {# ==========================================
    layout 의 content 영역에 출력
    ========================================== #}
 {% block content %}
 
 
 <!-- ========================================
      로그인 페이지 제목
      ======================================== -->
 <h1>Login</h1>
 
 
 <!-- ========================================
      로그인 form
      method="POST" → app.py POST 라우트 연결
      ======================================== -->
 <form method="POST">
 
 
     <!-- ====================================
          아이디 입력
          name="uid" → 서버에서 받는 키
          ==================================== -->
     <input
         type="text"
         name="uid"
         placeholder="아이디 입력"
     >
 
 
     <!-- ====================================
          비밀번호 입력
          name="password" → 서버에서 받는 키
          ==================================== -->
     <input
         type="password"
         name="password"
         placeholder="비밀번호 입력"
     >
 
 
     <!-- ====================================
          로그인 버튼
          클릭 시 POST 전송
          ==================================== -->
     <button type="submit">
         Login
     </button>
 
 
 </form>
 
 
 {% endblock %}
 