/* ================= HERO ================= */

.hero{
    height:100vh;

    background:url("/static/img/bg1.jpg") center/cover no-repeat;

    

    position:relative;
    margin:0 30% ;
}


/* 어두운 필터 */
.hero::before{
    content:"";
    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.55);
}


/* 중앙 텍스트 */
.hero-overlay{
    position:absolute;
    top:50%;
    left:50%;

    transform:translate(-50%, -50%);
    text-align:center;
    color:#fff;
}


/* 제목 */
.hero-overlay h1{
    font-size:60px;
    font-weight:700;
    margin-bottom:15px;
}


/* 설명 */
.hero-overlay p{
    font-size:20px;
    margin-bottom:25px;
}


/* 반응형 */

@media (max-width:1024px){

    .hero-overlay h1{
        font-size:40px;
    }

    .hero-overlay p{
        font-size:16px;
    }
}

@media (max-width:600px){

    .hero{
        height:80vh;
    }

    .hero-overlay h1{
        font-size:26px;
    }
}
