/* 헤더 */
.header{
    background:#111;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* 로고 */
.logo{
    font-size:20px;
    font-weight:bold;
    color:#fff;
}

/* 메뉴 */
.user-menu{
    display:flex;
    align-items:center;
    gap:10px;
}

/* 이름 */
.user-name{
    color:#fff;
    margin-right:10px;
}