.mypage-container{
    padding:40px;
    max-width:900px;
    margin:0 auto;
    color:#000;
}

.mypage-box{
    background:#fff;
    padding:30px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.mypage-menu{
    display:flex;
    gap:10px;
}

.mypage-container h2{
    color:#fff;
}


/* ===============================
   마이페이지 버튼 공통 스타일
================================ */
.my-btn{

    /* 배경 */
    background:#111;

    /* 글자 */
    color:#fff;

    /* 테두리 제거 */
    border:none;

    /* 둥글기 */
    border-radius:8px;

    /* 크기 */
    padding:10px 18px;

    /* 글자 굵기 */
    font-weight:500;

    /* 그림자 */
    box-shadow:0 4px 10px rgba(0,0,0,0.2);

    /* 애니메이션 */
    transition:all .3s ease;

}


/* ===============================
   마우스 올렸을 때
================================ */
.my-btn:hover{

    background:#444;
    transform:translateY(-2px);
    box-shadow:0 6px 14px rgba(0,0,0,0.3);

}