{% extends "layout.html" %}
{% block content %}

<!-- =========================
     HERO WRAPPER
========================= -->
<section class="hero-wrapper">

    <!-- 중앙 카드 -->
    <div class="hero-card">

        <!-- 텍스트 영역 -->
        <div class="hero-text">

            <p class="sub-title">
                THE GALAXY IS IN
            </p>

            <h1>
                YOUR HANDS
            </h1>

            <button class="explore-btn">
                EXPLORE WORLD
            </button>

        </div>

    </div>

</section>

{% endblock %}
