/* =========================
   HEADER 전체
========================= */
.main-header{

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 100px;

    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(6px);

    color:white;
    z-index:1000;
}


/* 좌측 */
.nav-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu-icon{
    font-size:22px;
    cursor:pointer;
}


/* 중앙 로고 */
.logo{
    font-size:22px;
    letter-spacing:10px;
    text-decoration:none;
    color:white;
    
}


/* 우측 */
.nav-right{
    display:flex;
    gap:25px;
}

.nav-right a,
.nav-left a{

    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-right a:hover,
.nav-left a:hover{
    opacity:0.6;
}
